.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #ccc;
}

.todoItemText {
  display: inline-block;
  font-size: 1.6rem;
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoItemText[data-completed="true"] {
  text-decoration: line-through;
}

.todoItemButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.todoItemButton[data-type="delete"] {
  background-color: #ff0000;
}

.todoItemButton[data-type="complete"] {
  background-color: #00cd00;
}

.todoItemButton[data-type="complete"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
